<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Create Post</mat-card-title>
    </mat-card-header>
    <div>
        <textarea #commentIput placeholder="Type Message"></textarea>
    </div>
    <div *ngIf="selectedImageFile" id="post-preview">
        <img id="post-preview-img"/>
    </div>
    <mat-card-actions align="end">
       <button mat-button (click)="photoSelector.click()" color="warn">
          <mat-icon>insert_photo</mat-icon>
       </button>
       <button (click)="onPostClick(commentIput)" mat-flat-button color="warn">Post</button>
    </mat-card-actions>
    <input #photoSelector (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file" accept="image/*">
</mat-card>
